node_modules

# don't replicate https://www.getslds.com/resources
slds

# https://github.com/jonathantneal/svg4everybody
/svg4everybody/svg4everybody-1.0.0

/www/assets/styles/charted_theme.css*


.idea/workspace.xml
test0.html
out
